<web-app xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
<servlet>
<servlet-name>spring</servlet-name>
<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<init-param>
<param-name>contextConfigLocation</param-name>
<param-value>/WEB-INF/spring-servlet.xml</param-value>
</init-param>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>spring</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>HomePage.jsp</welcome-file>
</welcome-file-list>


<!--    Project Module Mappings    -->
<servlet>
<servlet-name>Project</servlet-name>
<servlet-class>com.ideas2it.project.controller.ProjectController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/addProject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/getAllProjects</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/getProject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/updateProject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/deleteProject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/displayEmployeesInProject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/assignEmployee</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Project</servlet-name>
<url-pattern>/getAssignProjectId</url-pattern>
</servlet-mapping>
</web-app>
