<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Employees</display-name>
  <!-- <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->
  <welcome-file-list>
   <welcome-file>HomePage.html</welcome-file>
   </welcome-file-list>
  <servlet>  
  <servlet-name>EmployeeController</servlet-name>  
  <servlet-class>com.ideas2it.employee.controller.EmployeeController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/addEmployee</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/listEmployees</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/deleteEmployee</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/updateEmployee</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/getEmployeeId</url-pattern>  
  </servlet-mapping> 
  <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/getAssignEmployeeId</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>EmployeeController</servlet-name>  
  <url-pattern>/assignProject</url-pattern>  
  </servlet-mapping> 
   <servlet>
  <servlet-name>ProjectController</servlet-name>  
  <servlet-class>com.ideas2it.project.controller.ProjectController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/addProject</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/listProjects</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/updateProject</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/deleteProject</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/getUpdateId</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/getAssignProjectId</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>  
  <servlet-name>ProjectController</servlet-name>  
  <url-pattern>/assignEmployee</url-pattern>  
  </servlet-mapping> 
</web-app>